@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}
:root{
    --wavus:#ff9005;
    --wavus_header:#995655;
    --wavus_sub:#ed88df;
}

.wavus {
    --wavus:#eeffdd
}

.flip-cards .card{
    @apply max-w-[240px] py-3 bg-green-200
}


.flip-cards .card .front h1{
    @apply text-center font-bold my-4
}
.flip-cards .card .front .description{
    @apply px-6
}



 .card .front, .card .back {
    @apply flex justify-center items-center
}
.icon img{
    @apply rounded-full content-center
}
